.header {
    display: flex;

}

.img_bicycle {
    width: 1280px;
    height: 600px;
}

.profile {
    background-color: black;
    color: white;
    padding-top: 10px;
    margin-left: 230px;
    width: 120px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menus {
    font-size: 14px;
    justify-content: right;

}