.header {
    display: flex;
}

.img_bicycle {
    width: 100vw;
}

.profile {
    background-color: black;
    color: white;
    padding-top: 10px;
    margin-left: 230px;
    width: 120px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.menu {
    display: flex;
}